<!DOCTYPE html>
<html>
  <head>
    <title>HabitHelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'index' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
